**/sprites.less
**/*.sprites.png
**/Bin/*
**/PowerBIPortal/Dependencies/*
**/bin/*
**/defaultStrings.ts
**/deploy/*
**/[Oo]bj/
**/styles/*.css
**/telemetry/*
*.js.map
*.suo
*.templates.ts
*.user
**/*.pubxml
node_modules
Docs
docs
.publish
/src/Clients/ExploreUI/styles/sprites.less
/src/Clients/FeatureSwitches/JsFormatter.cs
/src/Clients/PowerBIE2ETests
/src/Clients/PowerBIPortal/AssemblyInfo.cs
/src/Clients/PowerBIPortal/Externals
/src/Clients/PowerBIPortal/Externals/pv
/src/Clients/PowerBIPortal/Providers
/src/Clients/PowerBIPortal/cortana/scripts
/src/Clients/PowerBIPortal/fonts
/src/Clients/PowerBIPortal/images
/src/Clients/PowerBIPortal/mobile/images
/src/Clients/PowerBIPortal/resources
/src/Clients/PowerBIPortal/scripts
/src/Clients/PowerBIPortal/styles
/src/Clients/PowerBIPortal/ts
/src/Clients/PowerBIResources/PowerBIResources.cs
/src/Clients/PowerBITests/**/*.css
/src/Clients/PowerBITests/**/*.js
/src/Clients/PowerBIVisualsTests/**/*.css
/src/Clients/PowerBIVisualsTests/**/*.js
/src/Clients/SnapshotEmbedHost/fonts
/src/Clients/SnapshotEmbedHost/images
/src/Clients/SnapshotEmbedHost/resources
/src/Clients/SnapshotEmbedHost/scripts
/src/Clients/SnapshotEmbedHost/ts
/src/Clients/SnapshotEmbedHost/styles
/src/Clients/SnapshotEmbedHost/snapshotEmbedHost.html
/src/Clients/SnapshotEmbedHost/AssemblyInfo.cs
/src/Clients/StyleLibrary/styleLibrary.css
/src/Clients/UnitTests/Resources
/src/Clients/UnitTests/blanket.js
/src/Clients/UnitTests/jquery-ui.css
/src/Clients/UnitTests/qunit-1.12.0.css
/src/Clients/UnitTests/qunit-1.12.0.js
/src/Clients/VisualsWorkbench/**/*.css
/src/Clients/VisualsWorkbench/**/*.js
/src/Clients/PowerBIVisualsPlayground/**/*.css
/src/Clients/PowerBIVisualsPlayground/**/*.js
/src/Clients/PowerBIVisualsPlayground/*.js
/src/Clients/PowerBIVisualsPlayground/*.d.ts
/src/DataDictionary/
/src/msbuild.log
/src/TestResults/
/src/packages
/src/.vs
/tools/CloudBuildScripts/*.log
_Chutzpah*.test.html
build/**
cst/**
